img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $main-color;
}

/*все списки без маркеров*/
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width:480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  @media screen and(min-width:1200px) {
    padding-top: 80px;
  }
}
.section--paddingtop {
  padding-top: 0;
}
.section--bgcolor {
  background-color: #f5f4fa;
}

.section__title {
  margin-bottom: 50px;

  text-align: center;

  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $second-color;

  @media screen and(min-width:1200px) {
    font-size: 36px;
    line-height: 1.2;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}
