/* секция-текст */

.content {
  display: flex;
  flex-wrap: wrap;
  background-color: $background-main-color;
}
.content__item {
  @media screen and(min-width:768px) {
    flex-basis: calc((100% / 2)-30px);
  }
  @media screen and(min-width:1200px) {
    flex-basis: calc((100% / 4)-90px);
  }
}

//.content__item:not(:last-child) {
//margin-right: 30px;
//}
.content__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  margin-bottom: 30px;
  background-size: 270px 120px;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.content__title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $second-color;
  @media screen and(max-width:767px) {
    text-align: center;
  }
}
