/* секция-текст */

.content {
  @media screen and(min-width:768px) {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }
}
.content__item {
  @media screen and(max-width:76px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and(min-width:768px) {
    margin: 15px;
    flex-basis: calc((100% / 2) - 30px);
  }
  @media screen and(min-width:1200px) {
    flex-basis: calc((100% / 4) - 120px);
  }
}

.content__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  margin-bottom: 30px;

  background-size: 270px 120px;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: #f5f4fa;
  @media screen and(min-width:1200px) {
    width: 270px;
  }
}

.content__title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $second-color;
  @media screen and(max-width:767px) {
    text-align: center;
  }
}
