/*наша команда*/

.group {
  // display: flex;
  @media screen and(max-width:480px) {
    display: block;
    width: 480px;
  }
}

.group__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.group__item:not(:last-child) {
  margin-right: 30px;
  @media screen and(max-width:480px) {
    margin-right: 0px;
  }
}
.group__box {
  padding-top: 30px;
  padding-bottom: 30px;

  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;

  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;

  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: $background-main-color;
}

.group__title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $second-color;
}

.group__description {
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.social__link {
  @extend %sociallinks;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.social__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon--white {
  fill: $background-main-color;
}

.social__link:hover .social__icon {
  fill: #ffffff;
}

.social__link:focus .social__icon {
  fill: #ffffff;
}

.social {
  @extend %sociallist;
}
.social__item--bgcolor {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
