$main-color: #757575; /* links nav, text,*/
$background-main-color: #ffffff; /* background nav, hero title, title button,footer adress */
$second-color: #212121; /*titles nav,titles , */
$accent-color: #2196f3; /* links hover focus,*/
$background-second-color: #2f303a; /*background */
